html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P';
  /* font-size: 22px; */
}
main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  padding: 20px;
  width: 650px;
  height: 200px;
  border-radius: 20px;
  text-align: center;
}

#ganhou {
  color: green;
}

#perdeu {
  color: red;
}

#button {
  margin-top: 50px;
}

