html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Press Start 2P';
  font-size: 20px !important;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  padding: 20px;
  width: 580px;
  height: 720px;
  border-radius: 20px;
  text-align: center;
}

#forca img {
  margin: 20px;
  width: 150px;
  height: 150px;
}

#pokemon img {
  margin: auto;
  width: 150px;
  height: 150px;

}
#letra {
  margin-bottom: 5px;
}

#letras {
  font-size: .8em;
  margin: 20px;
  color: blue;
}
#input {
  font-size: .7em !important;
}

#letras-usadas {
  margin: 20px;
  text-align: justify;
  font-size: .6em;
}

#resultado {
  margin: 20px;
  font-size: .9em;
}

#ganhou {
  color: green;
}

#perdeu {
  color: red;
}

#btn-enviar {
  font-size: 15px !important;
}
#button {
  margin: auto;
}